/* Import rules - must be at the top */
@import './styles/InfoSection.css';
@import './styles/PredictionForm.css';
@import './styles/PredictionResults.css';
@import './styles/PredictionHistory.css';

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #002b36, #004052, #001f3f);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #fff;
}

.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.app-container {
  display: grid;
  grid-template-columns: 300px minmax(auto, 1000px) 300px;
  gap: 3rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 4rem;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

